create table Course
(
    id         serial primary key,
    title      varchar(100),
    instructor varchar(50),
    price      numeric(10, 2),
    duration   int --số giờ học
);

INSERT INTO Course (title, instructor, price, duration)
VALUES ('Java Backend Masterclass', 'Nguyen Trung Tuan', 2500.00, 120),
       ('PostgreSQL for Senior DA', 'Tran Van Nam', 1800.50, 45),
       ('Spring Boot & Microservices', 'Le Thi Lan', 3200.00, 90),
       ('Computer Networking Fundamentals', 'Pham Minh Hoang', 1200.00, 60),
       ('Cryptography in Modern Apps', 'Hoang Thu Thuy', 2100.25, 30),
       ('Web Security with JWT', 'Nguyen Trung Tuan', 1500.00, 25);

select * from Course;
-- delete from Course;

update Course
set price = Course.price + (15.0/100) * Course.price
where duration > 30;

delete from Course
where title ilike '%Demo%';

select *
from Course
where title ilike '%SQL%';

select *
from Course
where price between 500000 and 2000000
order by price desc
limit 3;