create table employee
(
    id         serial primary key,
    full_name  varchar(100),
    department varchar(50),
    salary     numeric(10, 2),
    hire_date  date
);

INSERT INTO employee (full_name, department, salary, hire_date)
VALUES ('Nguyen Trung Tuan', 'IT', 25000000.00, '2025-01-10'),
       ('Le Thi Lan', 'HR', 18000000.50, '2024-05-20'),
       ('Tran Van Nam', 'IT', 22000000.00, '2024-11-15'),
       ('Pham Minh Hoang', 'Sales', 15000000.00, '2026-02-01'),
       ('Hoang Thu Thuy', 'HR', 1900.25, '2025-03-12'),
       ('Dang Van Bach', 'IT', 3000.00, '2023-08-25');

select * from employee;

update employee
set salary = salary + (10/100) * salary
where department = 'IT';

delete from employee
where  salary < 6000000;

select full_name
from employee
where full_name ilike '%an%';

select full_name
from employee
where hire_date between  '2023-01-01' and'2023-12-31';