create table department(
    id serial primary key,
    name varchar(100)
);

create table employees(
    id serial primary key,
    full_name varchar(100),
    department_id int,
    salary numeric(10, 2)
);


select emp.full_name, dmp.name
from employees emp
join department dmp
on emp.department_id = dmp.id;

select dmp.name, avg(emp.salary) as avg_salary
from employees emp
join department dmp
on emp.department_id = dmp.id
group by emp.department_id, dmp.name
having avg(emp.salary) > 10000000;

select dmp.name
from department dmp
left join employees emp
on dmp.id = emp.department_id
where emp.id is null;