create table OrderInfor
(
    id          serial primary key,
    customer_id int,
    order_date  date,
    total       numeric(10, 2),
    status      varchar(20)
);

INSERT INTO OrderInfor (customer_id, order_date, total, status)
VALUES (1, '2026-03-25', 1500000.00, 'Completed'),
       (2, '2026-03-28', 450000.50, 'Pending'),
       (3, '2026-04-01', 2100.25, 'Completed'),
       (1, '2026-04-02', 850000.00, 'Cancelled'),
       (5, '2026-04-03', 1200.00, 'Processing');

-- delete from OrderInfor;

select *
from OrderInfor
where total > 500000;

select *
from OrderInfor
where extract('month' from order_date) = '10' and extract('year'from order_date) = '2024';

select *
from OrderInfor
where status = 'Completed';

select *
from OrderInfor
order by order_date desc
limit 2;
