create table product(
    id serial primary key,
    name varchar(100),
    category varchar(50),
    price numeric(10, 2)
);

create table orderdetail(
    id serial primary key,
    order_id int,
    product_id int,
    quantity int
);

select p.name as product_name, sum(p.price * o.quantity) as total_revenue
from product p
join orderdetail o
on p.id = o.product_id
group by p.id, p.name;

select avg(p.price * o.quantity) as avg_revenue
from product p
join orderdetail o
on p.id = o.product_id
group by p.category
having  avg(p.price * o.quantity) > 20000000;


select p.name
from product p
join orderdetail o
on p.id = o.product_id
group by p.id , p.name
having sum(p.price * o.quantity) > (
    select avg(total_revenue)
    from (
        select sum(p2.price * o2.quantity) as total_revenue
        from product p2
        join orderdetail o2
        on p2.id = o2.product_id
        group by p2.id, p2.name
         ) as tmp
    );

select p.name, sum(o.quantity) as total_sell
from product p
left join orderdetail o
on p.id = o.product_id
group by p.id, p.name;
