create table customers
(
    id     serial primary key,
    name   varchar(100),
    email  varchar(100),
    phone  varchar(50),
    points int
);

INSERT INTO customers (name, email, phone, points)
VALUES ('Nguyen Trung Tuan', 'tuan.nt@gmail.com', '0912345678', 150),
       ('Le Thi Lan', 'lanle@yahoo.com', '0987654321', 80),
       ('Tran Van Nam', 'namtran@outlook.com', '0905123456', 210),
       ('Pham Minh Hoang', 'hoangpham@techbank.vn', '0934567890', 45),
       ('Hoang Thu Thuy', 'thuyhoang@gmail.com', '0978123456', 320),
       ('Dang Van Bach', 'bachdang@fpt.com.vn', '0911223344', 10),
       ('Vu Thi Ngoc', NULL, '0944556677', 0);

select * from customers;

select distinct name
from customers;

select name as "Khách hàng không có email"
from customers
where email is null;

select name
from customers
order by points desc
limit 3
offset 1;

select name
from customers
order by name desc;