create table orders(
    id serial primary key,
    customer_id int,
    order_date date,
    total_amount numeric(10, 2)
);


select sum(total_amount) as total_revenue, count(id) as total_orders, avg(total_amount) as average_order_value
from orders;

select sum(total_amount) as "Doanh thu từng năm"
from orders
group by extract('year' from order_date)
having sum(total_amount) > 50000000;

select *
from orders
order by total_amount desc
limit 5;