create table products(
    id serial primary key,
    name varchar(100),
    category varchar(50),
    price numeric(10, 2),
    stock int
);


INSERT INTO products (name, category, price, stock) VALUES
                                                        ('iPhone 15 Pro', 'Electronics', 1200.00, 50),
                                                        ('MacBook Air M2', 'Electronics', 1100.50, 20),
                                                        ('Bàn phím cơ AKKO', 'Accessories', 85.00, 100),
                                                        ('Chuột Logitech G502', 'Accessories', 55.25, 150),
                                                        ('Màn hình Dell UltraSharp', 'Electronics', 450.00, 15);

select * from products;
select name, category, stock
from products
order by price desc
limit 3;

select name, category, stock
from products
where category = 'Electronics' and price < 10000000;

select name, category, stock
from products
order by stock asc;