create table customers2(
    id serial primary key,
    name varchar(100)
);

create table orders(
                       id serial primary key,
                       customer_id int,
                       order_date date,
                       total_amount numeric(10, 2)
);

--Hiển thị tên khách hàng và tổng tiền đã mua, sắp xếp theo tổng tiền giảm dần

select c.name, sum(o.total_amount) as "Tổng tiền đã mua"
from customers2 c
         join orders o
              on c.id = o.customer_id
group by c.id, c.name
order by sum(o.total_amount) desc;

select c.name, sum(o.total_amount) as "Tổng tiền đã mua"
from customers2 c
join orders o
on c.id = o.customer_id
group by c.id, c.name
having sum(o.total_amount) = (
    select max(tmp.total_am)
    from (
        select sum(total_amount) as total_am
        from customers2 c2
        join orders o2
        on c2.id = o2.customer_id
        group by c2.id, c2.name
         ) as tmp
    );

select c.name
from customers2 c
left join orders o
on c.id = o.customer_id
where o.id is null;

select c.name as "Nhân viên có tổng chi tiêu lớn hơn toàn bộ khách hàng"
from customers2 c
join orders o
on c.id = o.customer_id
group by c.id, c.name
having sum(o.total_amount) > (
    select avg(tmp.total)
    from(
        select sum(total_amount) as total
        from customers2 c2
        join orders o2
        on c2.id = o2.customer_id
        group by c2.id, c2.name
        ) as tmp
    );