create table oldcustomers(
    id serial primary key,
    name varchar(100),
    city varchar(50)
);

create table newcustomers(
    id serial primary key,
    name varchar(100),
    city varchar(50)
);

select *
from oldcustomers
union
select *
from newcustomers ;


select *
from oldcustomers
intersect
select *
from newcustomers;

select tmp.city, sum(tmp.id) as total_customer_city
from(
    select * from oldcustomers
    union
    select * from newcustomers
    ) as tmp
group by tmp.city;

select tmp.city, sum(tmp.id) as total_customer_city
from(
        select * from oldcustomers
        union
        select * from newcustomers
    ) as tmp
group by tmp.city
having sum(tmp.id) = (
    select max(tmp2.total_cus_city)
    from(
        select sum(tmp.id) as total_cus_city
        from(
                select * from oldcustomers
                union
                select * from newcustomers
            ) as tmp
        group by tmp.city
        ) as tmp2
    );
